#FormBox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-padding: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.08), 20, 0, 0, 10);
}

.FormSubTitle {
    -fx-font-family: "Segoe UI Semibold", sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #334155;
}


.text-area {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.text-area .content {
    -fx-background-color: #f8fafc;
    -fx-background-radius: 10;
}

.text-area:focused .content {
    -fx-background-color: #ffffff;
}

.date-picker {
    -fx-background-color: #f8fafc;
}

.date-picker > .text-field {
    -fx-background-color: transperent;
    -fx-cursor: pointer;

}

.date-picker > .arrow-button {
    -fx-background-color: #4f46e5;
    -fx-cursor: pointer;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: white;
}
#FormTitle {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-text-fill: #3d3797;
}

#SaveBtn {
    -fx-background-color: #00d135;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}

#SaveBtn:hover {
    -fx-background-color: #56d870;
    -fx-translate-y: -2px;
}

#RefreshBtn {
    -fx-background-color: #ffffff;
    -fx-text-fill: #4f46e5;
    -fx-background-radius: 12;
    -fx-border-color: #4f46e5;
    -fx-border-radius: 12;
}

#RefreshBtn:hover {
    -fx-background-color: #f5f3ff;
}
.alert-success {
    -fx-background-color: #dcfce7;
    -fx-text-fill: #166534;
    -fx-border-color: #bbf7d0;
}

.alert-error {
    -fx-background-color: #fee2e2;
    -fx-text-fill: #991b1b;
    -fx-border-color: #fecaca;
}
