
.subTitle {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-text-fill: #3d3797;
}

#SearchSubTitle {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
    -fx-text-fill: #64748b;
}

#SearchCriteria {
    -fx-background-color: #f8fafc;
    -fx-background-radius: 10;
    -fx-border-color: #e2e8f0;
    -fx-border-radius: 10;
    -fx-padding: 5;
}

#SearchCriteria .list-cell {
    -fx-text-fill: #1e293b;
}

#SearchField {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #e2e8f0;
    -fx-border-radius: 10 0 0 10;
    -fx-border-width: 1 0 1 1;
    -fx-padding: 10;
}

#SearchField:focused {
    -fx-border-color: #4f46e5;
}

#SearchBtn {
    -fx-background-color: #21a644;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
    -fx-font-size: 11px;
    -fx-padding: 5 15;
    -fx-min-width: 50px;
    -fx-max-height: 30px;
}

#SearchBtn:hover {
    -fx-background-color: #039e30;
}

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #cbd5e1;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-padding: 0;
}

.table-view .column-header-background {
    -fx-background-color: #f8fafc;
    -fx-background-radius: 10 10 0 0;
    -fx-border-color: transparent transparent #cbd5e1 transparent;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 45;
    -fx-border-color: transparent #e2e8f0 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.table-view .column-header .label {
    -fx-text-fill: #1e293b;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

.table-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: #334155;
    -fx-font-size: 13px;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #f1f5f9 transparent;
    -fx-cell-size: 50;
}

.table-row-cell:odd {
    -fx-background-color: #fcfcfc;
}

.table-row-cell:hover {
    -fx-background-color: #f1f5f9;
}

.table-row-cell:filled:selected {
    -fx-background-color: #e0e7ff;
}

.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: #4f46e5;
    -fx-font-weight: bold;
}

.table-view .placeholder .label {
    -fx-text-fill: #94a3b8;
    -fx-font-size: 16px;
}

.table-view .corner {
    -fx-background-color: transparent;
}

